<ion-view>
    <ion-nav-bar class="bar bar-header bar-assertive">
        <ion-nav-title>
            <h1 class="title">Add a new Job</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="list" class="padding">
            <label class="item item-input">
                <input type="text" placeholder="Name of the Company" ng-model="vm.activity.companyName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Jop Position" ng-model="vm.activity.post" >
            </label>
            <label class="item item-input">
                <textarea placeholder="Base Salary" ng-model="vm.activity.baseSalary"></textarea>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Weekly Hours" ng-model="vm.activity.weeklyHours">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Perks" ng-model="vm.activity.perks" >
            </label>
            <label class="item item-input">
                <textarea placeholder="Disadvantages" ng-model="vm.activity.disadvantages"></textarea>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address" ng-model="vm.activity.localization">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Requirements" ng-model="vm.activity.requirements" >
            </label>
            <label class="item item-input">
                <textarea placeholder="Date: mm/dd/yy" ng-model="vm.activity.date"></textarea>
            </label>
            <label class="item item-input">
                <textarea placeholder="Link" ng-model="vm.activity.link"></textarea>
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="vm.create()">
            Create
        </button>
    </ion-content>
</ion-view>